[submodule "dep/zlib"]
	path = dep/zlib
	url = https://github.com/aeon-external-dependencies/zlib.git
[submodule "dep/libpng"]
	path = dep/libpng
	url = https://github.com/aeon-external-dependencies/libpng.git
[submodule "dep/libconfig"]
	path = dep/libconfig
	url = https://github.com/hyperrealm/libconfig.git
[submodule "dep/fmt"]
	path = dep/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "dep/ffmpeg"]
	path = dep/ffmpeg
	url = https://github.com/stevenhoving/camstudio-dependency-ffmpeg.git
