[submodule "dep/zlib"]
	path = dep/zlib
	url = https://github.com/aeon-external-dependencies/zlib.git
[submodule "dep/fmt"]
	path = dep/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "dep/ffmpeg"]
	path = dep/ffmpeg
	url = https://github.com/stevenhoving/camstudio-dependency-ffmpeg.git
[submodule "dep/googletest"]
	path = dep/googletest
	url = https://github.com/aeon-external-dependencies/googletest.git
[submodule "dep/cmake_utility"]
	path = dep/cmake_utility
	url = https://github.com/aeon-engine/libaeon-cmake.git
[submodule "dep/cpptoml"]
	path = dep/cpptoml
	url = https://github.com/skystrife/cpptoml.git
[submodule "dep/google_benchmark"]
	path = dep/google_benchmark
	url = https://github.com/aeon-external-dependencies/google_benchmark.git
[submodule "dep/yuvconvert"]
	path = dep/yuvconvert
	url = https://github.com/stevenhoving/yuvconvert.git
[submodule "dep/spdlog"]
	path = dep/spdlog
	url = https://github.com/stevenhoving/spdlog.git
